html
{
    background-color: #ebebeb;
    border-top: 10px solid #555555;
    font: normal 11px 'Lucida Grande', Helvetica, Sans-Serif;
}

/* Links */

a
{
    font-weight: bold;
    border-bottom: 1px dotted transparent;
}

a:link
{
    color: #336699;
    text-decoration: none;
    border-bottom-color: #336699;
}

a:visited
{
    color: #5588aa;
    text-decoration: none;
    border-bottom-color: #5588aa;
}

a:hover, a:active
{
    color: #ad5b1e;
    border-bottom: 1px solid #ad5b1e;
}

/* Html Elements */

h1, h2, h3, h4, h5, h6
{
    font-weight: normal;
    margin: 5px 0 10px;
    padding: 0;
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a
{
    font-weight: normal;
    border-bottom-width: 0;
}

h1
{
    font-size: 28px;
}

h2
{
    font-size: 26px;
}

h3
{
    font-size: 24px;
}

h4
{
    font-size: 20px;
}

h5
{
    font-size: 18px;
}

h6
{
    font-size: 16px;
}

ul, ol, blockquote, pre
{
    color: #555555;
    padding: 10px 30px;
    line-height: 1.8em;
}

ul
{
    list-style-type: square;
}

blockquote, pre
{
    background-color: #eeeeee;
    border: 1px solid #bbccdd;
}

ins
{
    text-decoration: none;
    color: #466b85;
}

del
{
    color: #555555;
}

/* Structure */

body
{
    padding: 0;
    width: 850px;
    margin: 0 auto;
    background-repeat: repeat-y;
    background-position: top left;
    background-image: url(../images/body_bg.png);
}

#container
{
    width: 700px;
    margin: 0 auto;
}

#header
{
    float: left;
    width: 100%;
    clear: both;
    margin-top: 10px;
}

#navigation
{
    float: left;
    width: 100%;
    clear: both;
}

#page-header
{
    clear: both;
    position: relative;
    margin-bottom: 20px;
}

#wrapper
{
    text-align: center;
}

#footer
{
    clear: both;
    color: #666666;
    padding: 10px 0 10px 0;
    text-align: center;
}

/* Header */

#header img
{
    float: left;
    padding-bottom: 5px;
}

#header h1
{
    padding: 0;
    float: left;
    width: 140px;
    margin: 10px 0;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    border-right: 1px solid #999999;
}

#header h1 a:hover, #header h1 a:active
{
    border-bottom-width: 0;
}

#header h2
{
    float: left;
    width: 500px;
    font-size: 12px;
    line-height: 2.5em;
    padding-left: 10px;
    padding-top: 7px;
}

#header #search
{
    float: right;
}

#header #search input
{
    padding: 5px;
    border: 1px solid #999999;
    background-color: #f5f5f5;
}

#header #search input:hover
{
    background-color: #e5e5e5;
    border: 1px solid #777777;
}

/* Navigation */

#navigation ul
{
    padding: 0;
    width: 100%;
    float: left;
    margin: 0 0 10px;
    list-style-type: none;
    background-image: url(../images/menu_bg.jpg);
}

#navigation li
{
    float: left;
}
#navigation a
{
    font-weight: normal;
}
#navigation a:link, #navigation a:visited
{
    float: left;
    display: block;
    color: #eff8ff;
    padding: 5px 10px;
    border-bottom-width: 0;
}

#navigation a:hover, #navigation a:active
{
    color: #ffffff;
    background-color: #485573;
}

#navigation ul li.on a.menu
{
    color: #eff8ff;
    background-color: #374462;
}

/* Sub-menu */

#navigation li ul
{
    position: absolute;
    top: 123px;
    width: 265px;
    display: none;
    background-image: url(../images/menu_bg.jpg);
    z-index: 1;
}

#navigation li ul li
{
    float: none;
}

#navigation li ul a
{
    width: 245px;
    border-top: 1px solid #999999;
    color: #eff8ff;
    position: relative;
}

/* Page-Header */

#page-header ul
{
    bottom: -8px;
    right: 10px;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

#page-header li
{
    display: none;
}

#page-header li.ativo
{
    display: block;
}


/* Wrapper */

.col
{
    width: 200px;
    float: left;
    margin: 0 10px;
    text-align: left;
}

.col ul
{
    margin: 0 0 0 15px;
    padding: 0;
    line-height: 1.5em;
}

.col li
{
    padding-bottom: 10px;
}

.col h3
{
    font-size: 13px;
    padding: 5px 10px;
    margin-top: 20px;
}

#links h3
{
    background-color: #94b4d6;
}

#content h3
{
    background-color: #d6eb9a;
}

#sidebar h3
{
    background-color: #ffb366;
}

#links a:hover, #links a:active
{
    color: #336699;
    border-bottom-color: #336699;
}

#content a:link
{
    color: #567040;
    border-bottom-color: #567040;
}

#content a:visited
{
    color: #789160;
    border-bottom-color: #789160;
}

#sidebar a:link
{
    color: #df6532;
    border-bottom-color: #df6532;
}

#sidebar a:visited
{
    color: #ad5b1e;
    border-bottom-color: #ad5b1e;
}

#wrapper h3.info-title
{
    text-align: left;
    border-bottom: 1px solid #999999;
    color: #374462;
}

#wrapper .info
{
    padding-top: 20px;
    text-align: left;
    float: left;
    background-repeat: no-repeat;
}

#wrapper .text
{
    padding-left: 20px;
    color: #555555;
    width: 430px;
    height: 320px;
    overflow: auto;
    background-image: url(../images/logo-back.png);
}

#wrapper h4
{
    font-size: 14px;
    font-weight: bold;
}

#wrapper ul.clients li
{
    float: left;
    list-style-type: none;
    text-align: center;
}

#wrapper-info div 
{ 
    margin-bottom: 15px;
}

#img-hewitt 
{
    margin-right: 18px;
}

#img-emel 
{
    margin-right: 15px;
    margin-left: 15px;
}

#img-carrefour 
{
    margin-left: 10px;
}

#img-odebrecht 
{
    margin-right: 60px;
    margin-left: 60px;   
}

#img-provider 
{
    margin-right: 50px;
    margin-left: 50px;   
}

#img-qualimar 
{
    margin-right: 80px;
    margin-left: 80px;   
}

#img-araujo 
{
    margin-right: 50px;
    margin-left: 50px;   
}

#img-dislub
{
  margin-right: 60px;
  margin-left: 60px;
}

ul.list-text
{
    list-style-type: circle;    
    padding: 0px 15px;    
}


/* Footer */

#footer a:link
{
    color: #5588aa;
    border-bottom-color: #5588aa;
}

#footer a:visited
{
    color: #77bbdd;
    border-bottom-color: #77bbdd;
}

#footer a:hover, #footer a:active
{
    color: #336699;
    border-bottom-color: #336699;
}

#footer p
{
    border-top: 1px solid #999999;
    padding-top: 5px;
    margin: 5px 0;
}

/* Contact Form */

#form-contact
{
    width: 250px;
}

#form-contact .text-input
{
    width: 250px;
    height: 15px;
}

#form-contact tr td
{
    padding-bottom: 10px;
    padding-right: 10px;
}

#form-contact input, #form-contact textarea
{
    color: #555555;
    font-size: 12px;
}

/* Index 2 */

h4.title
{
    border-bottom: 1px dotted #555555;
}

.right-col
{    
    width: 430px;
    height: 240px;
    color: #555553;
}

.left-col
{
    width: 220px;
    color: #555553;
    background-color: #EEEEFF;    
    height: 240px;
}

#presentation-content
{
    margin: 5px;
}

#work-text #meeting
{
    float: left;
    margin: 0px 5px 5px 0px;
}
